{%load static%}
<!DOCTYPE html>

<html>
  <head>
    <!--<link rel="stylesheet" type ="text/css" href="CRegistro.CSS">-->
    <!--Head sirve para importar y configuraciones-->
    <title>Inicio de sesion</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

  </head>

  <body>
    <center>
    <br>
    <div class="card" style="width: 20rem;">
      <div class="card-block">
        <form>
          <div class = "form-group"id="Formulario">
            <p class="h1" class="font-weight-bold"> Instagram </p>
            <a href="#" class="text-muted"> ¡Bienvenido! </a><br><br>
            <div class = "form-group">
              <input class = "form-control" type = "text" placeholder = "Ingrese su Usuario">
            </div>
            <div class="form-group">
              <input class = "form-control" type = "password" placeholder="Ingrese su Contraseña">
            </div>
            <button type="button" class = "btn btn-warning" id="boton1">Registrate</button><br><br>
            ¿No tienes una cuenta?<br>
            <a href = "{% url 'registro' %}" class=card-link>Registrate</a>
            <br>
          </div>
        </form>
      </div>
    </div>
      <br>
    <a href="https://itunes.apple.com/mx/app/instagram/id389801252?mt=8">
      <img src="{% static 'images/appstore1.png' %}" id="img1"><br>
    <a/>
    <a href="https://play.google.com/store/apps/details?id=com.instagram.android&hl=es">
        <img src="{% static 'images/googleplay1.png' %}" id="img2"><br>
    </a>
    </center>
  </body>
</html>
